/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
.mom { width: 500px; }

.florida { width: 600px !important; } 

h1 {
  font-family: "Rubik Scribble", system-ui !important;
  font-weight: 400 !important;
  font-style: normal !important;
}